FAILOVER_PROXY_IMAGE=ghcr.io/clockclock1/failover-proxy
FAILOVER_PROXY_VERSION=latest
FAILOVER_PROXY_PORT=8787
FAILOVER_PROXY_DATA_DIR=./data
FAILOVER_PROXY_NETWORK=failover-proxy-network
RUST_LOG=failover-proxy=info,tower_http=info
